.root {
    -fx-background-color: #11111b;
}

.label {
    -fx-text-fill: #cdd6f4;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 16;
}

.list-view {
    -fx-background-color: #313244;
    -fx-background-insets: 8 4 8 4;
}

.menu-pane {
    -fx-background-color: #11111b;
}

.scroll-bar {
    -fx-background-color: #6c7086;
}

.scroll-bar:vertical {
    -fx-background-color: #181825;
}

.thumb {
    -fx-background-color: #313244;
}

.list-cell {
    -fx-background-color: #45475a;
    -fx-text-fill: #cdd6f4;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
}

.list-cell:empty {
    -fx-background-color: #313244;
}

.list-cell:selected {
    -fx-background-color: #585b70;
    -fx-text-fill: #b4befe;
}

.text-field {
    -fx-text-fill: #cdd6f4;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12;
    -fx-background-color: #313244;
}

.button {
    -fx-background-color: #313244;
    -fx-background-radius: 8;
    -fx-text-fill: #cdd6f4;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-padding: 6 12 6 12;
}

.radio-button {
    -fx-background-color: #313244;
    -fx-background-radius: 8;
    -fx-text-fill: #cdd6f4;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-padding: 6 12 6 12;
}

.radio-button:selected {
    -fx-text-fill: #b4befe;
}

.view-pane {
    -fx-background-color: white;
    -fx-background-insets: 8;
    -fx-border-color: #11111b;
    -fx-border-width: 2;
}

.cameras-root {
    -fx-pref-width: 400;
    -fx-background-color: #1e1e2e;
    -fx-background-radius: 16;
    -fx-background-insets: 8;
    -fx-padding: 8 16 8 16;
}

.scenes-root {
    -fx-pref-width: 400;
    -fx-background-color: #1e1e2e;
    -fx-background-radius: 16;
    -fx-background-insets: 8;
    -fx-padding: 8 16 8 16;
}

.models-root {
    -fx-pref-width: 400;
    -fx-background-color: #1e1e2e;
    -fx-background-radius: 16;
    -fx-background-insets: 8;
    -fx-padding: 8 16 8 16;
}

.cameras-view {
    -fx-pref-height: 200;
}

.scenes-view {
    -fx-pref-height: 100;
}

.models-view {
    -fx-pref-height: 200;
}

.centered {
    -fx-alignment: center;
}

.centered-left {
    -fx-alignment: center_left;
}

.gaps-8 {
    -fx-hgap: 8;
    -fx-vgap: 8;
}

.fill-width {
    -fx-fill-width: true;
}

.fill-heigth {
    -fx-fill-height: true;
}

.spacing-4 {
    -fx-spacing: 4;
}

.spacing-8 {
    -fx-spacing: 8;
}

.spacing-12 {
    -fx-spacing: 12;
}

.spacing-16 {
    -fx-spacing: 16;
}

.spacing-20 {
    -fx-spacing: 20;
}

.padding-4 {
    -fx-padding: 4;
}

.padding-8 {
    -fx-padding: 8;
}

.padding-12 {
    -fx-padding: 12;
}

.padding-16 {
    -fx-padding: 16;
}

.padding-20 {
    -fx-padding: 20;
}

.panel {
}
